@using StudyAssignmentManager.Client.Services

@inject EditorJSService editorJSService

<div id="@Data.Id" @ref="editorjsElement"></div>

@code {
    [Parameter]
    public Domain.Answer Data { get; set; }
    
    private ElementReference editorjsElement;

    protected override async Task OnInitializedAsync()
    {
        await editorJSService.InitReadOnly(editorjsElement, Data.Content);
    }
}
