.status {
    font-size: 14px;
    line-height: 18px;
    background-color: var(--success);
    color: var(--white);
    padding: 8px 14px;
    border-radius: 50px;
}

.status--in-progress {
    background-color: var(--warning);
    color: var(--black);
}

.status--canceled {
    background-color: var(--danger);
    color: var(--black);
}